:root{
    --red:#fc4e03;
    --blue:#0076ff;
    --black:#444444;
}
.bg{
    display: flex;
    align-items:center;
    justify-content: center;
    font-weight:bold;
    border: 1px solid white;
    border-radius: 10px;
    height:100px;
    margin:5px;
    box-shadow: -0.5px -1px 4px 1px rgb(0, 0, 0, 0.2) inset;
 
}
.bg:active{
    box-shadow:none;
}

.mint{
    background-color: #b2dfdb;
}
.puple{
    background-color: #e1bee7;
}
.orange{
    background-color: #ffe0b2;
}
.green{
    background-color: #dcedc8;
}
.blue{
    background-color: #bbdefb;
}
.skyblue{
    background-color: #e1f5fe;
}

.search-btn-large, .cancel-btn{
    background-color: var(--blue);
    text-align: center;
}
.add-btn-large, .add-btn, .mod-btn, .order-btn{
    background-color: var(--red);
    text-align: center;
}
.del-btn{
    background-color: var(--black);
    text-align: center;
}
.outline-btn{
    border:1px solid var(--blue);
}

.showModal{
    padding:10px;
}
.button--large{
    height:50px;
    width:96%;
    margin:auto;
    font-size:24px;
    line-height:50px;
    border-radius:10px;
    
}
.button--outline{
    width:96%;
    border-radius:10px;
}
.list-item{
    margin:0px;
    padding:0px;
    width:100%;
}
.list-item__top{
    padding:0px;
}
.list-item--chevron__center, .list-item__center{
    width: 96%;
    padding-left:2%;
    font-size:18px;
}
.list-item__center > div:nth-child(1){
    width:40%;
    text-align: left;
    font-weight: bold;
}
.list-item__center > div:nth-child(2){
    width:60%;
    text-align: right;
    font-weight: 300;
}
.long-select{
    width:96%; 
    margin:auto; 
    font-size:18px; 
}
.text-input--underbar{
    width:96%;
    margin:0px auto;
}
.center input[type='text']{
    font-size:18px;
}

ons-row{
    margin:15px 0px;
}
ons-row > ons-col:nth-child(2){
    text-align:right;
}
ons-col input[type='text']{
    text-align:right;
}
ons-button, ons-input[type="date"]{
    margin:0px auto;
    width:96%;
}
ons-card{
    border-radius: 10xp;
    margin:0px auto;
    width:96%;
}
input[type='date']{
    height:50px;
    font-size:18px;
    
}
